<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="formsAuthenticationWrapper" type="Mvolo.Modules.FormsAuthConfigurationSection"/>
    <section name="DeveloperSettings" type="DeveloperConfigurationSection" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <!--<DeveloperSettings enabled="true" useConnectString="ShermcoConnectionString" />-->
  <DeveloperSettings enabled="true" useConnectString="PilotConnectionString"/>
  <!--IE10 Debug Fix-->
  <!--regsvr32.exe "%ProgramFiles(x86)%\Common Files\Microsoft  Shared\VS7Debug\msdbg2.dll-->
  <!-- Email Settings -->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="si-it057" port="25" defaultCredentials="false" userName="noreply@shermco.com" />
      </smtp>
    </mailSettings>
  </system.net>
  <!-- Database Connection Strings 
  name="PavViewConnectionString"    connectionString="Data Source=si-nav.shermco.ind;Initial Catalog=Shermco;                                                       Integrated  "
  name="PavViewConnectionString1"   connectionString="Data Source=si-nav.shermco.ind;Initial Catalog=Shermco; Persist Security Info=True;                           truittjl"

  name="ShermcoConnectionString"    connectionString="Data Source=si-nav.shermco.ind;Initial Catalog=Shermco;Persist Security Info=True;Connection Timeout=5;       truittjl"
  name="ShermcoConnectionString1"   connectionString="Data Source=si-nav.shermco.ind;Initial Catalog=Shermco;                                                       Integrated "

  name="PilotConnectionString"      connectionString="Data Source=si-itdev02.shermco.ind;Initial Catalog=Pilot;Persist Security Info=True; Connection Timeout=5;    truittjl2"
  
  name="PilotSessionConnection"     connectionString="Server=si-itdev02.shermco.ind;                                                                                truittjl2"
  name="ShermcoSessionConnection"   connectionString="Server=si-nav.shermco.ind;                                                                                    truittjl"
-->
  <connectionStrings>
    <remove name="LocalMySqlServer" />
    <add name="PavViewConnectionString" connectionString="Data Source=si-nav.shermco.ind;Initial Catalog=Shermco;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PavViewConnectionString1" connectionString="Data Source=si-nav.shermco.ind;Initial Catalog=Shermco;Persist Security Info=True;User ID=truittjl;Password=uspy"
      providerName="System.Data.SqlClient" />
    <add name="ShermcoConnectionString1" connectionString="Data Source=si-nav.shermco.ind;Initial Catalog=Shermco;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ShermcoConnectionString" connectionString="Data Source=si-nav.shermco.ind;Initial Catalog=Shermco;Persist Security Info=True;User ID=truittjl;Password=uspy;Connection Timeout=5"
      providerName="System.Data.SqlClient" />
    <add name="PilotConnectionString" connectionString="Data Source=si-itdev02.shermco.ind;Initial Catalog=Pilot;Persist Security Info=True;User ID=truittjl2;Password=uspy;Connection Timeout=5"
      providerName="System.Data.SqlClient" />
    <add name="PilotSessionConnection" connectionString="Server=si-itdev02.shermco.ind;User ID=truittjl2;Password=uspy"
      providerName="System.Data.SqlClient" />
    <add name="ShermcoSessionConnection" connectionString="Server=si-nav.shermco.ind;User ID=truittjl;Password=uspy"
      providerName="System.Data.SqlClient" />
    <add name="ShermcoConnectionString2" connectionString="Data Source=si-nav;Initial Catalog=Shermco;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ShermcoConnectionString3" connectionString="Data Source=si-nav.shermco.ind;Initial Catalog=Shermco;Persist Security Info=True;User ID=truittjl;Password=uspy;Connect Timeout=5"
      providerName="System.Data.SqlClient" />
    <add name="PilotConnectionString1" connectionString="Data Source=si-itdev02.shermco.ind;Initial Catalog=Pilot;Persist Security Info=True;User ID=truittjl2;Password=uspy;Connect Timeout=5"
      providerName="System.Data.SqlClient" />
    <add name="DataSourceConnectionString" connectionString="Data Source=si-itdev02.shermco.ind;User ID=truittjl2;Password=uspy"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <!-- Replace the built-in FormsAuthenticationModule with the FormsAuthModule wrapper -->
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication"/>
      <add name="FormsAuthentication" type="Mvolo.Modules.FormsAuthModule"/>
    </modules>
    <directoryBrowse enabled="false"/>
    <!-- Temporary Redirect To Another Web Site During Maintenance -->
    <!-- <httpRedirect enabled="false" destination="HomePage/Home.aspx" childOnly="true" httpResponseStatus="Temporary"/>  -->
    <!-- Default Page -->
    <defaultDocument>
      <files>
        <add value="HomePage.aspx"/>
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/>
    <!-- Report Viewer Module -->
    <handlers>
      <remove name="ReportViewerWebControlHandler"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
  </system.webServer>
  <system.web>
    <trace enabled="true" requestLimit="40" localOnly="false"/>
    <authentication mode="Windows">
      <forms name=".SIUAUTH" loginUrl="/Account/Login.aspx" protection="Validation" timeout="9000"/>
    </authentication>
    <membership defaultProvider="CustomMembershipProvider" userIsOnlineTimeWindow="9000">
      <providers>
        <add name="CustomMembershipProvider" type="ShermcoYou.CustomerMembershipProvider" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="true" passwordFormat="Clear" description="Stores and retrieves membership data" decryptionKey="68d288624f967bce6d93957b5341f931f73d25fef798ba75" validationKey="65a31e547b659a6e35fdc029de3acce43f8914cb1b24fff3e1aef13be438505b3f5becb5702d15bc7b98cd6fd2b7702b46ff63fdc9ea8979f6508c82638b129a"/>
      </providers>
    </membership>
    <httpHandlers>
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Web.Administration, Version=7.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <!-- Adds An Overriden Class For A Self Sorting Grid -->
    <!-- Adds Ajax Library -->
    <!--<pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">-->
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="Static">
      <controls>
        <add tagPrefix="SIU" namespace="SIU.Web.UI.WebControls" assembly="App_Code"/>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <location path="Account/login.aspx">
    <!-- Disable Forms Authentication -->
    <formsAuthenticationWrapper enabled="false"/>
    <system.webServer>
      <security>
        <!-- Enable IIS Windows authentication for the login page -->
        <authentication>
          <windowsAuthentication enabled="true"/>
          <anonymousAuthentication enabled="false"/>
        </authentication>
      </security>
    </system.webServer>
  </location>
  <!-- Require Everyone To Auth -->
  <!-- aspnet_regsql -ssadd -stype p -S si-itdev 02 -E <-A all>-->
  <!--GRANT EXECUTE ON DATABASE::ASPState TO [truittjl2];-->
  <!--Set truittjl dbowner -->
  <location>
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
      <sessionState mode="SQLServer" sqlConnectionString="ShermcoSessionConnection" timeout="9000"/>
    </system.web>
  </location>
  <location path="Reporting">
    <system.web>
      <compilation debug="true"/>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="ProProfs">
    <system.web>
      <httpRuntime maxUrlLength="4096" maxQueryStringLength="4096" requestPathInvalidCharacters="&lt;,&gt;,*,%,:" relaxedUrlToFileSystemMapping="true"  />
      <authorization>
        <allow users="*"/>    <!-- Allows all users -->
      </authorization>
    </system.web>
  </location>  
</configuration>