.UpdateBtnCSS {
    font-size: 1.3em;
    font-weight: bold;
    color: red;
    float: left;
    width: 50%;        
}

.CancelBtnCSS {
    font-size: 1.3em;
    font-weight: bold;
    color: red;
    float: right;
    width: 50%;
}

html {
    background-color: #45473f;
}  

.DataInputCss {
    width: auto;
    background-color: navajowhite;
    border: 2px chocolate solid;
    
}
    