.ui-btn 
{
    text-align: left;
}
            
            
.ui-icon-doc {
	background-image: url("/images/word_32.gif");
}
            
.ui-icon-docx {
	background-image: url("/images/word_32.gif");
}
            
.ui-icon-pdf {
	background-image: url("/images/pdf_18.gif");
}            

.ui-icon-xlsx {
	background-image: url("/images/Excel_32.gif");
}  

.ui-icon-xls {
	background-image: url("/images/Excel_32.gif");
}  


.ui-icon-url {
	background-image: url("/images/link.png");
}   

                        
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-icon-doc {
	    background-image: url("/images/word_32.gif");
	    -ms-background-size: 18px 18px;
	    background-size: 18px 18px;
	}

    .ui-icon-docx {
        background-image: url("/images/word_32.gif");
        -ms-background-size: 18px 18px;
        background-size: 18px 18px;
    }

    .ui-icon-pdf {
        background-image: url("/images/pdf_18.gif");
        -ms-background-size: 18px 18px;
        background-size: 18px 18px;
    }
}
