.ebul_mb73g0, .ebul_mb73g0 ul {
  background-color: #FFFFFF;
  border: 4px solid #808080;
  display: block;
  font-size: 1px;
  margin: 0px;
  overflow: auto;
  padding: 3px;
  position: absolute;
  visibility: hidden;
}

.ebul_mb73g0_shadow {
  background-color: #777777;
  display: block;
  margin: 0px;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
}

.ebul_mb73g0 table {
  border-collapse: separate;
}

.ebul_mb73g0 tr {
  background-color: #FFFFFF;
  cursor: pointer;
  font-size: 1px;
}

.ebul_mb73g0 td {
  border: 1px solid #FFFFFF;
  padding: 4px;
  text-align: left;
}

.ebul_mb73g0 td a, .ebul_mb73g0 td a:visited {
  color: #000000;
  font-family: "Tahoma", serif;
  font-size: 19px;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
}

.ebul_mb73g0 tr.hot, .ebul_mb73g0 tr.expanded {
  background-color: #EEEEEE;
}

.ebul_mb73g0 tr.hot td, .ebul_mb73g0 tr.expanded td {
  border-color: #AAAAAA;
}


.ebul_mb73g0 tr.hot a, .ebul_mb73g0 tr.expanded a {
  color: #000000;
  font-family: "Tahoma", serif;
  font-size: 19px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

.ebul_mb73g0 td div.ebul_mb73g0separator {
  border-top: 1px solid #00FFFF;
  border-bottom: 1px solid #FF0000;
  height: 0px;
  font-size: 0;
}

.ebul_mb73g0 td.ebul_mb73g0separatortd {
  cursor: default;
}


ul.ebul_mb73g0 {
  position: absolute;
  visibility: hidden;
}                               

.mb73g0ebul_menulist .spaced_li {
  padding: 3px 0px 3px 20px;
}

.mb73g0ebul_menulist li {
  list-style: none;
  
}

.mb73g0ebul_menulist img {
  vertical-align: bottom;
  
}

.mb73g0ebul_menulist {
  margin: 0px;
  padding: 0px;
  line-height: 0px;
  line-height:1.5em;
  float:left;
  display:inline;  
}


span.ebul_imgmb73g032x32 { 
  width: 32px; 
  height: 32px; 
  display: block;
    background-repeat: no-repeat;
}

.ebul_mb73g0 tr.hot span.ebul_imgmb73g032x32, .ebul_mb73g0 tr.expanded span.ebul_imgmb73g032x32 { 
  background-position: 0 -32px; 
} 

