.clear {
	zoom: 1;
	display: block;
}
		        
header,nav,article,footer,section,aside,figure,figcaption{display:block}
	
	
.menu {
position:       relative;
top:            3px;
left:           -0px;
z-index:        00; /* the stack order: displayed under main content area (90) */
float:          none; 
margin-right:   20px; 
margin-top:     1px;
}	


.menu ul {
        list-style-type: 	none;
    	list-style: 		none;
    	margin:      		0 0 0 5pt;
    	padding-left: 		0px;
    	padding-top: 		0px;
}
	
	
.menu ul li {
	width:              185px;
	overflow:           hidden;
	margin:             0px 0px ;
	padding:            3px 5px 5px -0px; 
	float:              right;
	background:         #7f9db9;
	text-align:         center;
    border-bottom:      none;
    margin-left:        0px;
} 










	






