#HomeWrapper {
  	background-color:   transparent;			        /*  background: Color For #main     */
  	border-left:        180px solid transparent;	    /*  background: color for #sidebar  */
  	border-right:       250px solid transparent;	    /*  background: color for #aside    */
}





/*	The background color of #sidebar matches the border color of #main. This is the trick we use to make our columns appear as being of equal height.  */
#sidebar {
  	margin-left:-180px;			/* Start Content 200px To The Left, Space And Color Established By #wrapper Left Border  */
  	position: relative;			/* Relative To What ?????? */
  	float: left;				/* Make This A Block Level Element Floated Left */
  	width: 190px;				/* Content Is 200px Wide (Matching Left Margin */
}


#sidebar .box 
{
    display: inline-block;
    position: relative;
	width: 180px;
	height: 362px;
	margin: 0 auto 35px 5px;
	padding: 15px;
	margin-top: 5px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	z-index: 2;
	
	border:                 11px solid #7f9db9;
    background:             whitesmoke;
	-moz-box-shadow:        10px 10px 10px #000;
	-webkit-box-shadow:     10px 10px 10px #000;
	box-shadow:             10px 10px 10px #000;	
}


















#aside {
  float: right;					/* Make This A Block Level Element Floated Right */
  width: 200px;					/* Use Space Created By Right Margin For Content */
  margin-right: -200px;			/* Start Content 200px From The Right Edge, Space And Color Established By #wrapper Right Border  */
  position: relative;
}



#aside .box {
	background: #ffe3a6;
	width: 180px;
	height: 362px;
	margin: 0 5px 35px 5px;
	padding: 15px;
	border: 11px solid #c6ac6c;
	position: relative;
	margin-top: 5px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	-moz-box-shadow: 10px 10px 10px #000;
	-webkit-box-shadow: 10px 10px 10px #000;
	box-shadow: 10px 10px 10px #000;
	z-index: 2;
	
    background:             whitesmoke;
	border-color:           #7f9db9;
	-moz-box-shadow:        10px 10px 10px #000;
	-webkit-box-shadow:     10px 10px 10px #000;
	box-shadow:             10px 10px 10px #000;	
}


#aside .box div {
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 13pt;
	color: #ffd550;
	_bottom: 21px; /* IE6 */
	_width: 108%; /* IE6 */
}


.BoxHeader {    width: 232px;
                clear: both;
                color:              black;
                background-color:   #7f9db9;
                text-align: center;
                margin: -26px 0 0 0;
                margin-left: -26px;
	            -moz-border-radius: 32px 32px 0 0;
	            -webkit-border-radius: 32px 32px 0 0;
	            border-radius: 32px 32px 0 0;
}




.BoxText {  	position: relative;
	            height: 4in;
                width: 2.6in;
                left: 5px;
                top: 15px;
                color: #3300FF;
                font-size: medium;
}


.em0{}
.em1 {  font-size: larger;   font-weight: bold; }
.em2 {  font-size: larger;   font-weight: bold; font-style: italic; }
.em3 {  font-size: xx-large; font-weight: bold; font-style: italic; }



.TeamMembersUL {
    width: 90%;
}










.TeamMembersUL {
    width: 90%;
}
    
.TeamMembersUL li {
    display:           inline-block;
    list-style-type:   circle;
    width:             150px;
    border:            1px solid black;
    text-align:        center;
     
    }
     
.Core li {
    background-color: cadetblue;    
}
     
.Guest li {
    background-color: aquamarine;    
}     
     
     
.TeamsNewsUL {
    overflow-y: scroll; 
    border: 5px solid gray; 
    width: 90%; 
    height: 300px;
}
    
.TeamsNewsUL li {
    border-bottom: 3px solid gray; 
    padding-top: 5px;
    padding-bottom: 15px; 
    text-align: left;  
}     


	/* CSS for the scrollers */
div.horizontal_scroller, div.vertical_scroller{
	position:           relative;
	height:             47px;
	width:              91%;
	display:            block;
	overflow:           hidden;
	border:             none;
    background-color:   transparent;
}

#scrollingtext {
    vertical-align: text-top;    
}


div.scrollingtext{
	position:       absolute;
	white-space:    nowrap;
	font-family:    'Trebuchet MS',Arial;
	font-size:      32px;
	font-weight:    bold;
	color:          black;
}

div.scrollingtext img {
    height: 40px;   
}
	
	
#soccer_ball_container{width:99%;height:80px;margin: 0px;padding: 0px;}
#soccer_ball_container .scrollingtext{width:40px;height:80px;}
#soccer_ball{display:block;position:absolute;top:0px;left:0px;}
